/* Just some simple styles to spice things up a bit */
.main-content {
    padding-bottom: 50px;
}

table {
  width: 100%;
}

table th {
  text-align: left;
  font-weight: normal;
  background: #ebebeb;
}

table td,
table th {
  border: 1px solid #fff;
  padding: 5px;
}

tbody td {
  background-color: #92b06a;
}

tr.risk-2 td {
  background-color: #dd5f32;
}

tr.risk-3 td {
  background-color: #ff0000;
}

tr.risk-1 td {
  background-color: #e19d29;
}

/* some navigation link styles */
.navigator {

  width: 100%;
  height: 50px;
  background: #ccc;
}

.navigator a {
  padding: 10px 10px;
  text-decoration: none;
  color: #666;
  line-height: 50px;
}

.navigator a:hover {
  background: #ebebeb;
}
