<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="app-content" class="main-content"></div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/scripts")
}
